services:
  backend:
    container_name: backend
    build: .
    restart: unless-stopped
    env_file: .env
    ports:
      - "3000:3000"
    command: ["node", "server.js"]
    volumes:
      - ./capturas:/app/capturas
    depends_on:      # <-- ¡IMPORTANTE!
      - redis        # <-- El backend esperará a redis
duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    network_mode: host #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - SUBDOMAINS=ejemplo
      - TOKEN=${DUCKDNS_TOKEN} 
      - LOG_FILE=true
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  redis_data:
